@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root{
    --main-color: #ff0720;
    --box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.7);
    --border: 0.4rem solid var(--main-color);
}

*{
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear all;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
    background: #222;
    margin: 0;
  padding: 0;
  overflow-x: hidden;
}



section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
    font-weight: bold;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color:#fff;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{
    background:var(--main-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--box-shadow);
    background: #000;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

.header .logo img{
    height: 40px;
}

.header .navbar{
    font-size: 1.5rem;
    justify-content: space-between;
    font-weight: 500;
}

.header .navbar a {
    font-size: 1.6rem;
    color: #fff;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--main-color);
}

#menu-bar{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("images/images.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.home .content{
    letter-spacing: 0.5rem;
    text-align: center;
    padding-top: 7rem;
    margin: 2rem auto;
    max-width: 70rem;
    
}

.home .content h3{
    color: #fff;
    font-size: 5rem;
    text-transform: uppercase;
}

.home .content h3 span{
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: goldenrod;
    text-transform: uppercase;
    font-size: 7rem;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.services .box-container .box{
    padding:2rem 0;
    background:#333;
    border-radius: 0.9rem;
    text-align: center;
}

.services li {
      list-style: none;
      font-size: 18px;
      margin-bottom: 8px;
    }

    .services i {
      color: var(--main-color);
      margin-right: 10px;
    }

.services .box-container .box:hover{
    transform: scale(1.05);
}

.services .box-container .box .title{
    background:var(--main-color);
    color:#fff;
    padding:1.5rem 0;
    font-size: 2rem;
}

.services .box-container .box ul {
    list-style: none;
    padding: 1rem 0;
}

.services .box-container .box ul li{
    font-size: 1.5rem;
    color:#eee;
    padding:1rem 0;
}

.services .box-container .box ul li i{
    color:var(--main-color);
    padding-right: 0.5rem;
}

.about-us .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about-us .row .image{
    flex:1 1 45rem;
    padding:1rem;
}

.about-us .row .image img{ 
    width: 100%;
    border-radius: .5rem;
    border:1rem solid #eee;
}

.about-us .row .content{
    flex:1 1 45rem;
}

.about-us .row .content h3{
    font-size: 3.5rem;
    color:#fff;
}

.about-us .row .content p{
    font-size: 1.5rem;
    color:#fff;
    padding:1rem 0;
    line-height: 2;
}


.gallery .gallery-slider .swiper-slide{
    overflow: hidden;
    border-radius: .5rem;
    height: 50rem;
    width:35rem;

}


.gallery .gallery-slider .swiper-slide img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.contact form{
    max-width: 70rem;
    margin:1rem auto;
    text-align: center;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea{
    width: 100%;
    background:#333;
    border-radius: 0.5rem;
    padding:1rem;
    margin:0.7rem 0;
    font-size: 1.5rem;
    color:#fff;
    text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
    color:#eee;
    text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus{
    background:#444;
}

.contact form .inputBox input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.footer{
    background:#111;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:#fff;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:1rem 0;
    color:#eee;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
    color:#fff;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid #222;
    color:#fff;
    padding:2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .credit span{
    color:var(--main-color);
}

html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: #444;
  }
  
  html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
  }

.theme-toggler{
    position: fixed;
    top:10rem; 
    right:-20rem;
    background: #333;
    z-index: 1000;
    transition: right 0.4s ease;
    width: 20rem;
    text-align: center;
}

.theme-toggler.active {
    right: 0;
  }
  
  .theme-toggler h3 {
    color: #fff;
    padding: 1rem 0;
    font-size: 2rem;
  }
  
  .theme-toggler .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }
  

.theme-toggler .buttons .theme-btn{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    cursor: pointer;
}

.theme-toggler .toggle-btn{
    position: absolute;
    top: 0;
    left: -5.9rem;
    padding: 1.3rem 1.5rem;
    background: #333;
    cursor: pointer;
}

.theme-toggler .toggle-btn i{
    color: #fff;
    font-size: 3rem;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(360deg);
    }
  }
  
  /* media queries  */
  
  @media (max-width: 991px) {
    html {
      font-size: 55%;
    }
  
    .header {
      padding: 1.5rem 2rem;
    }
  
    section {
      padding: 2rem;
    }
  }
  
  @media (max-width: 768px) {
    #menu-bar {
      display: initial;
    }
  
    .header .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-top: 0.1rem solid #222;
      background: #333;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    .header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  
    .fa-times {
      transform: rotate(180deg);
    }
  
    .header .navbar a {
      display: flex;
      background: #222;
      border-radius: 0.5rem;
      padding: 1.3rem;
      margin: 1.3rem;
      font-size: 2rem;
    }
  
    .home .content h3 {
      font-size: 4rem;
    }

    .home .content h3 span{
    font-size: 6.5rem;
  }
}
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }

     .home .content h3 span{
    font-size: 6.5rem;
    text-align: center;
  }
  
    .gallery .gallery-slider .swiper-slide {
      width: 27rem;
    }
  
    .contact form .inputBox input {
      width: 100%;
    }
  }
  
 